.gapi-homebody-title {
    font-weight: 700;
    font-size: 48px;
    color: var(--dsc-color-font-primary);
}

.gapi-homebody-title-container {
    margin-top: 27px;
    margin-bottom: 5px;
}

.gapi-homebody-subtitle {
    font-size: 24px;
    font-weight: 700;
    color: var(--dsc-color-font-secondary);
}

.gapi-homebody-subtitle-container {
    margin-bottom: 27px;
}